.App h1 {
  height: 160px;
  font-size: 300%;
  margin: 0;
  padding: 2ex;
  box-sizing: border-box;
  color: #555;
}

.App__radio {
  display: flex;
  padding: 0 10%;
}

.App__radio:nth-child(even) {
  background-color: #f5f5f5;
}

.App__radio:hover {
  background-color: #ddd;
}

.App__radio-logo {
  width: 40%;
}

.App__radio-logo img {
  max-width: 80%;
  max-height: 80%;
  text-align: center;
}

.App__radio-name {
  color: #555;
  width: 59%;
  height: 150px;
  line-height: 150px;
  vertical-align: middle;
  font-size: 200%;
}
